/* Telma Regular */
@font-face {
    font-family: 'Telma';
    src: url('/fonts/Telma-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Telma Medium */
  @font-face {
    font-family: 'Telma';
    src: url('/fonts/Telma-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  /* Telma Bold */
  @font-face {
    font-family: 'Telma';
    src: url('/fonts/Telma-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Telma Light */
  @font-face {
    font-family: 'Telma';
    src: url('/fonts/Telma-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  